body {
    margin: 0;
    padding: 0;
    background-color: rgb(93, 93, 93);
}

p{
    margin: 0;
}

.newspaper {
    position: absolute;
    left: 50%;
    margin-left: -490px;
    width: 980px;
    height: 1386px;
    padding: 0 44px;
    background-color: white;
}

#logo {
    position: relative;
    width: 110px;
    height: 61px;
    background-color: rgb(213, 93, 92);
}

#logo>p {
    position: absolute;
    bottom: 3px;
    color: white;
    font: 12px "黑体";
}

#titleline{
    height: 2px;
    background-color: #938e8c;
}